body { margin: 0; }
canvas { 
    width: 100vw; height: 100vh; display: block; 
    background : #b8e6fc;
}
pre {
    position: absolute;
    left: 1em;
    top: 0;
    font-family: "Georgia", serif;
    border: 2px solid purple; 
    padding: 10px; 
  }
  


